*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
}

footer{
    padding: 24px 0px 24px 0px;
    background-color: olivedrab;
}

img{
    height: 200px;
}

nav{
    border-bottom: 1px solid darkgreen;
    padding: 16px;
}

.link-to-recipe{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#vegetarian-tacos-link{
    text-decoration: none;
    color: darkolivegreen;
}

header{
    background-color: coral;
}

h2{
    color: coral;
}

h1{
    color: darkgreen;
}
#main-page-link{
    text-decoration: none;
    color: darkolivegreen;
}

a:hover{
    box-shadow: 1px 1px 1px 1px;
}

.ingredient-list tr:nth-child(even){
    background-color: lightgray;
}
